[Desktop Entry]
Name=The Churn
Comment=A survival game in an exclusion zone
Exec=churn_sdl churn.lua
Terminal=false
Type=Application
StartupNotify=true
Icon=icon
Categories=games;
